@tailwind base;
@tailwind components;
@tailwind utilities;

.box-on-hover:hover {
    box-shadow: 12px 12px 1px 1px rgba(0, 0, 0, 1);
}

.input-on-hover:hover {
    box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, 1);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
}
